.row {
    display: flex;
    flex-wrap: wrap;
}

.fullWidth {
    width: 100%;
}

.fullSize {
    width: 100%;
    height: 100%;
}

.avatarSpace {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.avatar {
    margin: 0 auto;
}

.buttonContainer {
    margin: 0 auto;
    padding-top: 12px;
}