.companyName {
    text-align: center;
    font-weight: bold;
    width: 100%;
}

.insideContainer {
    padding: 8px;
    width: 100%;
    max-width: 345px;
    min-width: 320px;
    height: 100%;
}

.space {
    width: 33%;
}

.headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatarRow {
    padding: 12px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.categoriesRow {
    padding: 12px 0;
    margin: 0 auto;
}